@import 'tailwindcss';
@plugin 'tailwindcss-animate';

/* 修复 body margin 问题 */
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 修复 #app 白边问题 */

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}